<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="category">
	<select id="getCodeList" parameterType="codeDto" resultType="codeDto">
		SELECT
			codeBId, 
	        codeAId, 
	        "NAME" AS codeBName
		FROM codeB
		WHERE codeAId=#{codeAId}
	</select>
	
	<insert id="insert" parameterType="codeDto">
		INSERT INTO codeB
		(codeBId, codeAId, name)
		VALUES(#{codeBId}, #{codeAId}, #{codeBName})
	</insert>	
	
	<!-- 일정 코드 목록  -->
	<select id="getScheduleCodes" parameterType="CodeDto" resultType="CodeDto">
	  SELECT 
	    a.codeaId,
	    b.codebId,
	    a.name AS codeAName,
	    b.name AS codeBName
	  FROM codeA a
	  JOIN codeB b ON a.codeaId = b.codeaId
	  WHERE a.codeaId = 'SCHEDULE_TYPE'
	  ORDER BY b.codebId
	</select>
	
</mapper>