<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="EmployeeMapper">

    <!-- 직원 전체 조회 -->
    <select id="getAllEmp" resultType="EmpDto">
        SELECT * 
        FROM EMPLOYEE
        ORDER BY EMPNUM DESC
    </select>


    <!-- 직원 상세 조회 -->
    <select id="getEmpByNum" parameterType="int" resultType="EmpDto">
        SELECT * 
        FROM EMPLOYEE
        WHERE EMPNUM = #{empNum}
    </select>

	<!-- 직원 등록 -->
    <insert id="insertEmp" parameterType="EmpDto">
	    INSERT INTO EMPLOYEE (
	        EMPNUM, EMPNAME, GENDER, EMPADDRESS,
	        EMPBIRTH, EMPPHONE, EMPEMAIL, HIREDATE, FIREDATE,
	        PROFILEIMAGE, EMPMEMO, ROLE
	    ) VALUES (
	        EMPLOYEE_SEQ.NEXTVAL,
	        #{empName, jdbcType=VARCHAR},
	        #{gender, jdbcType=VARCHAR},
	        #{empAddress, jdbcType=VARCHAR},
	        #{empBirth, jdbcType=DATE},
	        #{empPhone, jdbcType=VARCHAR},
	        #{empEmail, jdbcType=VARCHAR},
	        #{hireDate, jdbcType=DATE},
	        #{fireDate, jdbcType=DATE},
	        #{profileImage, jdbcType=VARCHAR},
	        #{empMemo, jdbcType=VARCHAR},
	        #{role, jdbcType=VARCHAR}
	    )
	</insert>
	
	<!-- 직원 수정 -->
	<update id="updateEmp" parameterType="EmpDto">
	    UPDATE EMPLOYEE
	    SET 
	        EMPNAME = #{empName, jdbcType=VARCHAR},
	        GENDER = #{gender, jdbcType=VARCHAR},
	        EMPADDRESS = #{empAddress, jdbcType=VARCHAR},
	        EMPBIRTH = #{empBirth, jdbcType=DATE},
	        EMPPHONE = #{empPhone, jdbcType=VARCHAR},
	        EMPEMAIL = #{empEmail, jdbcType=VARCHAR},
	        HIREDATE = #{hireDate, jdbcType=DATE},
	        FIREDATE = #{fireDate, jdbcType=DATE},
	        PROFILEIMAGE = #{profileImage, jdbcType=VARCHAR},
	        EMPMEMO = #{empMemo, jdbcType=VARCHAR},
	        ROLE = #{role, jdbcType=VARCHAR}
	    WHERE EMPNUM = #{empNum}
	</update>


    <!-- 직원 삭제 -->
    <delete id="deleteEmp" parameterType="int">
        DELETE FROM EMPLOYEE WHERE EMPNUM = #{empNum}
    </delete>


    <!-- 직원 검색 -->
    <select id="searchEmp" resultType="EmpDto">
        SELECT *
        FROM EMPLOYEE
        <where>
            <if test="filter == 'all'">
                (EMPNAME LIKE '%' || #{keyword} || '%' 
                 OR EMPEMAIL LIKE '%' || #{keyword} || '%')
            </if>

            <if test="filter == 'name'">
                EMPNAME LIKE '%' || #{keyword} || '%'
            </if>

            <if test="filter == 'email'">
                EMPEMAIL LIKE '%' || #{keyword} || '%'
            </if>
        </where>
        ORDER BY EMPNUM DESC
    </select>
    
    
	<!-- 직원 검색 + 페이징 -->
	<select id="getEmpListPaged" resultType="EmpDto">
	    SELECT *
	    FROM (
	        SELECT ROWNUM AS rnum, E.*
	        FROM (
	            SELECT 
	                EMPNUM, EMPNAME, GENDER, EMPADDRESS,
	                EMPBIRTH, EMPPHONE, EMPEMAIL, HIREDATE,
	                FIREDATE, PROFILEIMAGE, EMPMEMO, ROLE
	            FROM EMPLOYEE
	            <where>
	                <if test="type == 'all' and keyword != null and keyword != ''">
	                    (EMPNAME LIKE '%' || #{keyword} || '%' 
	                    OR EMPPHONE LIKE '%' || #{keyword} || '%')
	                </if>
	                <if test="type == 'name' and keyword != null and keyword != ''">
	                    EMPNAME LIKE '%' || #{keyword} || '%'
	                </if>
	                <if test="type == 'phone' and keyword != null and keyword != ''">
	                    EMPPHONE LIKE '%' || #{keyword} || '%'
	                </if>
	            </where>
	            ORDER BY EMPNUM DESC
	        ) E
	    )
	    WHERE rnum BETWEEN #{start} AND #{end}
	</select>
	
	
	<!-- 전체 행 개수 (페이징용) -->
	<select id="getTotalCount" resultType="int">
	    SELECT COUNT(*) 
	    FROM EMPLOYEE
	    <where>
	        <if test="type == 'all' and keyword != null and keyword != ''">
	            (EMPNAME LIKE '%' || #{keyword} || '%' 
	            OR EMPPHONE LIKE '%' || #{keyword} || '%')
	        </if>
	        <if test="type == 'name' and keyword != null and keyword != ''">
	            EMPNAME LIKE '%' || #{keyword} || '%'
	        </if>
	        <if test="type == 'phone' and keyword != null and keyword != ''">
	            EMPPHONE LIKE '%' || #{keyword} || '%'
	        </if>
	    </where>
	</select>
		
	<!-- 프로필 이미지 업로드 -->
	<update id="updateProfileImage">
	    UPDATE EMPLOYEE
	    SET PROFILEIMAGE = #{fileName}
	    WHERE EMPNUM = #{empNum}
	</update>
</mapper>
