<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="VacationDaysMapper">

  <!-- 직원 잔고 단건 조회 -->
  <select id="selectByEmpNum" parameterType="int" resultType="map">
    SELECT vacDaysNum, empNum, earnedDays, remainingDays, usedDays
      FROM vacationdays
     WHERE empNum = #{empNum}
  </select>

  <!-- 최초 생성(연초/입사시) -->
  <insert id="insertDays" parameterType="map">
    INSERT INTO vacationdays (vacDaysNum, empNum, earnedDays, remainingDays, usedDays)
    VALUES (#{vacDaysNum}, #{empNum}, #{earnedDays}, #{remainingDays}, #{usedDays})
  </insert>

  <!-- 사용 반영(승인 시): used += n, remaining -= n -->
  <update id="consumeDays" parameterType="map">
    UPDATE vacationdays
       SET usedDays      = NVL(usedDays,0) + #{useDays},
           remainingDays = remainingDays - #{useDays}
     WHERE empNum = #{empNum}
  </update>

  <!-- 복원(취소/삭제 시) -->
  <update id="restoreDays" parameterType="map">
    UPDATE vacationdays
       SET usedDays      = NVL(usedDays,0) - #{useDays},
           remainingDays = remainingDays + #{useDays}
     WHERE empNum = #{empNum}
  </update>

</mapper>
