<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">




<mapper namespace="MemberMapper">

    <!-- 전체 회원 조회 -->
    <select id="selectAll" resultType="MemberDto">
        SELECT memNum, memName, memGender, memBirthday, memPhone, memEmail,
               memAddr, memCreated, memUpdated, memProfile, memNote
        FROM MEMBER
        ORDER BY memCreated DESC
    </select>

    <!-- 회원 상세 조회 -->
    <select id="getByNum" parameterType="int" resultType="MemberDto">
        SELECT memNum, memName, memGender, memBirthday, memPhone, memEmail,
               memAddr, memCreated, memUpdated, memProfile, memNote
        FROM MEMBER
        WHERE memNum = #{memNum}
    </select>

    <!-- 회원 등록 -->
    <insert id="insert" parameterType="MemberDto">
        <selectKey keyProperty="memNum" resultType="int" order="BEFORE">
            SELECT MEMBER_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO MEMBER (
            memNum, memName, memGender, memBirthday, memPhone,
            memEmail, memAddr, memCreated, memUpdated, memProfile, memNote
        ) VALUES (
            #{memNum},
            #{memName,    jdbcType=VARCHAR},
            #{memGender,  jdbcType=VARCHAR},
            #{memBirthday,jdbcType=DATE},
            #{memPhone,   jdbcType=VARCHAR},
            #{memEmail,   jdbcType=VARCHAR},
            #{memAddr,    jdbcType=VARCHAR},
            SYSTIMESTAMP,
            SYSTIMESTAMP,
            #{memProfile, jdbcType=VARCHAR},
            #{memNote,    jdbcType=VARCHAR}
        )
    </insert>

    <!-- 회원 수정 -->
    <update id="update" parameterType="MemberDto">
        UPDATE MEMBER
        SET
            memName     = #{memName,    jdbcType=VARCHAR},
            memGender   = #{memGender,  jdbcType=VARCHAR},
            memBirthday = #{memBirthday,jdbcType=DATE},
            memPhone    = #{memPhone,   jdbcType=VARCHAR},
            memEmail    = #{memEmail,   jdbcType=VARCHAR},
            memAddr     = #{memAddr,    jdbcType=VARCHAR},
            memProfile  = #{memProfile, jdbcType=VARCHAR},
            memNote     = #{memNote,    jdbcType=VARCHAR},
            memUpdated  = SYSTIMESTAMP
        WHERE memNum = #{memNum}
    </update>

    <!-- 회원 삭제 (물리삭제, 추후 상태 컬럼으로 변경 가능) -->
    <delete id="delete" parameterType="int">
        DELETE FROM MEMBER
        WHERE memNum = #{memNum}
    </delete>
    
    <!-- 이용내역 DB 관련 내용입니다.  -->
    
     <!-- 회원 이름 단건 조회 (로그용) -->


    <!-- 회원 이름 조회 -->
    <select id="selectMemberNameById" parameterType="int" resultType="string">
        SELECT memName
        FROM MEMBER
        WHERE memNum = #{memNum}
    </select>

    <!-- 회원 존재 여부 확인 -->
    <select id="checkMemberExists" parameterType="int" resultType="int">
        SELECT COUNT(*)
        FROM MEMBER
        WHERE memNum = #{memNum}
    </select>

    <!-- 프로필 이미지 수정 -->
    <update id="updateProfile" parameterType="MemberDto">
        UPDATE MEMBER
        SET memProfile = #{memProfile, jdbcType=VARCHAR},
            memUpdated = SYSTIMESTAMP
        WHERE memNum = #{memNum}
    </update>

    <!-- 검색 기능 -->
    <select id="search" resultType="MemberDto">
        SELECT memNum, memName, memGender, memBirthday, memPhone, memEmail,
               memAddr, memCreated, memUpdated, memProfile, memNote
        FROM MEMBER
        WHERE
            LOWER(memName)  LIKE LOWER('%' || #{keyword} || '%')
        OR  LOWER(memPhone) LIKE LOWER('%' || #{keyword} || '%')
        OR  LOWER(memEmail) LIKE LOWER('%' || #{keyword} || '%')
        ORDER BY memCreated DESC
    </select>

</mapper>
