<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="product">
	<!-- 불러다가 쓸 구문 작성 가능(일반문자열, MyBatis 모두 가능) -->
	<sql id="search">
		<where>
	        <if test="categoryCodes != null and !categoryCodes.isEmpty()">
	            AND codeBId IN 
	            <foreach collection="categoryCodes" item="categoryCode" open="(" separator="," close=")">
					#{categoryCode} 
	            </foreach>
			</if>
	        
	        <if test="searchName != null and searchName != ''">
				AND name LIKE '%' || #{searchName} || '%'
	        </if>
		</where>
	</sql>
	
	<select id="selectPage" parameterType="productDto" resultType="productDto">
		SELECT *
		FROM
			(SELECT result1.*, ROWNUM AS rnum
			FROM
				(SELECT num, name, price, isActive, codeBId
				FROM board
				<include refid="search"/>
				ORDER BY codeBId DESC
				) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	
	<select id="getCount" parameterType="productDto" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0) AS count
		FROM product
		<include refid="search"/>
	</select>
	
	<select id="getCodeList" parameterType="productDto" resultType="productDto">
		SELECT *
		FROM codeB
	</select>
	
	<insert id="insert" parameterType="productDto">
		<selectKey keyProperty="num" resultType="int" order="BEFORE">
			SELECT product_seq.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO product
		(productId, codeBId, name, price, isActive, createdAt)
		VALUES(#{num}, #{codeB}, #{name}, #{price}, #{isActive}, SYSDATE)
	</insert>
</mapper>