<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="product">
	<!-- 불러다가 쓸 구문 작성 가능(일반문자열, MyBatis 모두 가능) -->
	<sql id="search">
		<where>
	        <if test="categoryCodes != null and !categoryCodes.isEmpty()">
	            AND pr.codeBId IN 
	            <foreach collection="categoryCodes" item="categoryCode" open="(" separator="," close=")">
					#{categoryCode} 
	            </foreach>
			</if>
	        
	        <if test="keyword != null and keyword != ''">
				AND pr.name LIKE '%' || #{keyword} || '%'
	        </if>
		</where>
	</sql>

	<select id="selectPage" parameterType="productDto" resultType="productDto">
		SELECT *
		FROM (
		    SELECT result1.*, ROWNUM AS rnum
		    FROM (
		        SELECT
		            pr.productId,
		            pr.name,
		            pr.price,
		            pr.isActive,
		            pr.codeBId,
		            cb.name AS codeBName,
		            (NVL(pi.total_in, 0) - NVL(sa.total_out, 0) - NVL(si.total_sales, 0)) AS quantity
		        FROM product pr
		        LEFT JOIN codeB cb ON pr.codeBId = cb.codeBId
		        LEFT JOIN (
		            SELECT productId, SUM(quantity) AS total_in
		            FROM PURCHASE
		            GROUP BY productId
		        ) pi ON pr.productId = pi.productId
		        LEFT JOIN (
		            SELECT productId, SUM(quantity) AS total_out
		            FROM STOCKADJUSTMENT
		            GROUP BY productId
		        ) sa ON pr.productId = sa.productId
		        LEFT JOIN (
		            SELECT productId, SUM(quantity) AS total_sales
		            FROM SALES_ITEM
		            WHERE status='ACTIVE'
		            GROUP BY productId
		        ) si ON pr.productId = si.productId
		        <include refid="search"/>
		        <if test="sortBy != null and sortBy != ''">
		            ORDER BY
		            <choose>
		                <when test="sortBy == 'codeBName'"> cb.name </when>
		                <when test="sortBy == 'name'"> pr.name </when>
		                <when test="sortBy == 'price'"> pr.price </when>
		                <when test="sortBy == 'quantity'"> quantity </when> <!-- Sort by calculated quantity -->
		                <otherwise> pr.productId </otherwise>
		            </choose>
		            <choose>
		                <when test="direction == 'DESC'"> DESC </when>
		                <otherwise> ASC </otherwise>
		            </choose>
		        </if>
		    ) result1
		)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	
	<select id="selectPageWithoutQuantity" parameterType="productDto" resultType="productDto">
		SELECT *
		FROM (
		    SELECT result1.*, ROWNUM AS rnum
		    FROM (
		        SELECT
		            pr.productId,
		            pr.name,
		            pr.price,
		            pr.isActive,
		            pr.codeBId,
		            cb.name AS codeBName
		        FROM product pr
		        LEFT JOIN codeB cb ON pr.codeBId = cb.codeBId
		        <include refid="search"/>
		        <if test="sortBy != null and sortBy != ''">
		            ORDER BY
		            <choose>
		                <when test="sortBy == 'codeBName'"> cb.name </when>
		                <when test="sortBy == 'name'"> pr.name </when>
		                <when test="sortBy == 'price'"> pr.price </when>
		                <otherwise> pr.productId </otherwise>
		            </choose>
		            <choose>
		                <when test="direction == 'DESC'"> DESC </when>
		                <otherwise> ASC </otherwise>
		            </choose>
		        </if>
		    ) result1
		)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	
	<select id="getCount" parameterType="productDto" resultType="int">
		SELECT COUNT(*)
		FROM product pr
		<include refid="search"/>
	</select>
		
	<insert id="insert" parameterType="productDto">
		<selectKey keyProperty="productId" resultType="int" order="BEFORE">
			SELECT product_seq.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO product
		(productId, codeBId, name, price, isActive, createdAt, profileImage, note)
		VALUES(#{productId}, #{codeBId}, #{name}, #{price}, #{isActive}, #{createdAt}, #{profileImage, jdbcType=VARCHAR}, #{note, jdbcType=VARCHAR})
	</insert>
	
	<update id="update" parameterType="productDto">
		UPDATE product
		SET codeBId=#{codeBId}, name=#{name}, price=#{price}, isActive=#{isActive},
			updatedAt=#{updatedAt}, note=#{note}
			
			<if test="profileImage != null">, profileImage=#{profileImage}</if>
			
		WHERE productId=#{productId}
	</update>
	
	<select id="getByNum" parameterType="int" resultType="productDto">
		SELECT pr.codeBId, cb.name AS codeBName, pr.createdAt, pr.isActive, pr.name, pr.updatedAt, pr.profileImage, pr.note, pr.price
		FROM product pr
		LEFT JOIN codeB cb ON pr.codeBId = cb.codeBId 
		WHERE productId=#{productId}
	</select>
	
	<update id="updateStatus" parameterType="productDto">
		UPDATE product
		SET 
        isActive = #{isActive}  
        WHERE productId = #{productId}
	</update>
	
</mapper>