<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="SalesItemMapper">

    <select id="selectAllSalesItems" resultType="SalesItem">
        SELECT *
        FROM SALESITEM
        WHERE status != 'DELETED'
        ORDER BY createdAt DESC
    </select>

    <select id="selectSalesItemById" parameterType="long" resultType="SalesItem">
        SELECT *
        FROM SALESITEM
        WHERE itemSalesId = #{itemSalesId}
    </select>

    <insert id="insertSalesItem" parameterType="SalesItem">
        <selectKey keyProperty="itemSalesId" resultType="long" order="BEFORE">
            SELECT SALESITEM_SEQ.NEXTVAL FROM DUAL
        </selectKey>

        INSERT INTO SALESITEM (
            itemSalesId, productId, productName,
            empNum, quantity, unitPrice, totalAmount,  productType, status, createdAt, updatedAt
        ) VALUES (
            #{itemSalesId}, #{productId}, #{productName},
            #{empNum}, #{quantity}, #{unitPrice}, #{totalAmount},  #{productType}, #{status}, #{createdAt}, #{updatedAt}
        )
    </insert>

    <update id="updateSalesItem" parameterType="SalesItem">
        UPDATE SALESITEM
        SET
            productId = #{productId},
            productName = #{productName},
            empNum = #{empNum},  quantity = #{quantity},
            unitPrice = #{unitPrice},
            totalAmount = #{totalAmount},
            productType = #{productType},
            status = #{status},
            updatedAt = #{updatedAt}
        WHERE itemSalesId = #{itemSalesId}
    </update>

    <update id="deleteSalesItem" parameterType="long">
        UPDATE SALESITEM
        SET status = 'DELETED'
        WHERE itemSalesId = #{itemSalesId}
    </update>

</mapper>