<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ScheduleMapper">


	<!-- 전체 스케줄 조회 -->
    <select id="selectAllSchedules" resultType="ScheduleDto">
        SELECT shNum, empNum, startTime, endTime, memo, color
        FROM SCHEDULE
        ORDER BY startTime
    </select>

    <!-- 특정 날짜 스케줄 조회 -->
    <select id="findByDate" parameterType="String" resultType="ScheduleDto">
        SELECT shNum, empNum, startTime, endTime, memo, color
        FROM SCHEDULE
        WHERE TRUNC(startTime) = TO_DATE(#{date}, 'YYYY-MM-DD')
        ORDER BY startTime
    </select>

    <!-- 단건 조회 -->
    <select id="findByShNum" parameterType="int" resultType="ScheduleDto">
        SELECT shNum, empNum, startTime, endTime, memo, color
        FROM SCHEDULE
        WHERE shNum = #{shNum}
    </select>

    <!-- 스케줄 등록 -->
    <insert id="insert" parameterType="ScheduleDto">
        <selectKey keyProperty="shNum" resultType="int" order="BEFORE">
            SELECT SCHEDULE_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO SCHEDULE (
            shNum, empNum, startTime, endTime, memo, color
        )
        VALUES (
            #{shNum}, #{empNum}, #{startTime}, #{endTime}, #{memo}, #{color}
        )
    </insert>

    <!-- 스케줄 수정 -->
    <update id="update" parameterType="ScheduleDto">
        UPDATE SCHEDULE
        SET
            empNum = #{empNum},
            startTime = #{startTime},
            endTime = #{endTime},
            memo = #{memo},
            color = #{color}
        WHERE shNum = #{shNum}
    </update>

    <!-- 스케줄 삭제 -->
    <delete id="delete" parameterType="int">
        DELETE FROM SCHEDULE
        WHERE shNum = #{shNum}
    </delete>



</mapper>

