<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="service">
	<!-- 불러다가 쓸 구문 작성 가능(일반문자열, MyBatis 모두 가능) -->
	<sql id="search">
		<where>
	        <if test="categoryCodes != null and !categoryCodes.isEmpty()">
	            AND sv.codeBId IN 
	            <foreach collection="categoryCodes" item="categoryCode" open="(" separator="," close=")">
					#{categoryCode} 
	            </foreach>
			</if>
	        
	        <if test="keyword != null and keyword != ''">
				AND sv.name LIKE '%' || #{keyword} || '%'
	        </if>
		</where>
	</sql>

	<select id="selectPage" parameterType="serviceDto" resultType="serviceDto">
		SELECT *
		FROM
			(SELECT result1.*, ROWNUM AS rnum
			FROM
				(SELECT 
					sv.serviceId, 
					sv.name, 
					sv.price, 
					sv.isActive, 
					sv.codeBId, 
					sv.serviceValue, 
					cb.name AS codeBName
				FROM service sv
				LEFT JOIN codeB cb ON sv.codeBId = cb.codeBId
				<include refid="search"/>
				<if test="sortBy != null and sortBy != ''">
		            ORDER BY
		            <choose>
		                <when test="sortBy == 'codeBName'"> cb.name </when>
		                <when test="sortBy == 'name'"> sv.name </when>
		                <when test="sortBy == 'price'"> sv.price </when>
		                <otherwise> sv.serviceId </otherwise>
		            </choose>
		            <choose>
		                <when test="direction == 'DESC'"> DESC </when>
		                <otherwise> ASC </otherwise>
		            </choose>
		        </if>
				) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	
	<select id="getCount" parameterType="serviceDto" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0) AS count
		FROM service sv
		<include refid="search"/>
	</select>
	
	<insert id="insert" parameterType="serviceDto">
		<selectKey keyProperty="serviceId" resultType="int" order="BEFORE">
			SELECT service_seq.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO service
		(serviceId, codeBId, name, price, isActive, createdAt, serviceValue)
		VALUES(#{serviceId}, #{codeBId}, #{name}, #{price}, #{isActive}, #{createdAt}, #{serviceValue})
	</insert>
	
	<update id="update" parameterType="serviceDto">
		UPDATE service
		SET codeBId=#{codeBId}, name=#{name}, price=#{price}, isActive=#{isActive},
			updatedAt=#{updatedAt}, note=#{note}
			
			<!-- <if test="profileImage != null">, profileImage=#{profileImage}</if> -->
			
		WHERE serviceId=#{serviceId}
	</update>
	
	<select id="getByNum" parameterType="int" resultType="serviceDto">
		SELECT *
		FROM service
		WHERE serviceId=#{serviceId}
	</select>	
	
	<update id="updateStatus" parameterType="serviceDto">
		UPDATE service
		SET 
        isActive = #{isActive}  
        WHERE serviceId = #{serviceId}
	</update>
	
</mapper>