<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="StockMapper">

	<!-- 2-1. 입고 내역 조회 -->
	<select id="getPurchaseList" parameterType="int" resultType="PurchaseDto">
		SELECT
			p.purchaseId,
			p.productId,
			p.codeBId,
			p.createdAt,
			p.quantity,
			p.notes
		FROM Purchase p
		WHERE p.productId = #{productId}
		ORDER BY p.createdAt DESC
	</select>
	
	<!-- 2-2. 출고 + 판매 내역 조회 -->
	<!-- 재고출고 테이블과, 판매 테이블 데이터 합쳐서 select 판매 테이블에 없는 칼럼은 임시 칼럼으로 생성 -->
	<select id="getAdjustStockAndSalesList" parameterType="int" resultType="StockAdjustmentDto">
		SELECT
			sa.adjustmentId AS adjustmentId,
			sa.productId AS productId,
			sa.codeBId AS codeBId,
			sa.createdAt AS createdAt,
			sa.quantity AS quantity,
			sa.notes AS notes
		FROM StockAdjustment sa
		WHERE sa.productId = #{productId}
		
		UNION ALL
		
		SELECT
			si.itemSalesId AS adjustmentId,
			si.productId AS productId,
			'SALES' AS codeBId,
			si.createdAt AS createdAt,
			si.quantity AS quantity,
			'상품 판매' AS notes
		FROM SalesItem si
		WHERE si.productId = #{productId}
		
		ORDER BY createdAt DESC
	</select>

	<!-- 2-3. 현재 재고 현황 조회 -->
	<select id="getCurrentStockList" resultType="CurrentStockDto">
		SELECT
			pr.productId AS productId,
			pr.name AS productName,
			NVL(SUM(pi.quantity), 0) AS totalInbound,
			NVL(SUM(sa.quantity), 0) AS totalOutbound,
			NVL(SUM(si.quantity), 0) AS totalSales,
			NVL(SUM(pi.quantity), 0)
				- NVL(SUM(sa.quantity), 0)
				- NVL(SUM(si.quantity), 0) AS currentStock
		FROM Product pr
		LEFT JOIN Purchase pi ON pr.productId = pi.productId
		LEFT JOIN StockAdjustment sa ON pr.productId = sa.productId
		LEFT JOIN SalesItem si ON pr.productId = si.productId
		GROUP BY pr.productId, pr.name
		ORDER BY pr.name ASC
	</select>
	
	<!-- 3-1. 입고시 Purchase Table에 row 추가 -->
	<insert id="insertPurchase" parameterType="PurchaseDto">
    INSERT INTO Purchase (
        purchaseId,
        productId,
        codeBId,
        createdAt,
        quantity,
        notes
    ) VALUES (
        #{purchaseId},
        #{productId},
        #{codeBId},
        SYSDATE,
        #{quantity},
        #{notes}
    )
	</insert>
	
	<!-- 3-2. 출고시 StockAdjustment Table에 row 추가 -->
	<insert id="insertStockAdjustment" parameterType="StockAdjustmentDto">
    INSERT INTO StockAdjustment (
        adjustmentId,
        productId,
        codeBId,
        createdAt,
        quantity,
        notes
    ) VALUES (
        #{adjustmentId},
        #{productId},
        #{codeBId},
        SYSDATE,
        #{quantity},
        #{notes}
    )
	</insert>

</mapper>
