<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="StockMapper">

	<!-- 가용 재고 조회 -->
	<select id="getAvailableQty" parameterType="int" resultType="int">
	  SELECT
	    COALESCE( (SELECT SUM(quantity) FROM Purchase        WHERE productId = #{productId}), 0 )
	  - COALESCE( (SELECT SUM(quantity) FROM StockAdjustment WHERE productId = #{productId}), 0 )
	  - COALESCE( (SELECT SUM(quantity) FROM SalesItem       WHERE productId = #{productId}), 0 )
	  AS availableQty
	  FROM DUAL
	</select>

	<!-- 2-1. 입고 내역 조회 -->
	<select id="getPurchaseList" parameterType="int" resultType="PurchaseDto">
		SELECT
			p.purchaseId,
			p.productId,
			p.codeBId,
			p.createdAt,
			p.quantity,
			p.notes
		FROM PURCHASE p
		WHERE p.productId = #{productId}
		ORDER BY p.createdAt DESC
	</select>
	
	<!-- 2-2. 출고 + 판매 내역 조회 -->
	<!-- 재고출고 테이블과, 판매 테이블 데이터 합쳐서 select 판매 테이블에 없는 칼럼은 임시 칼럼으로 생성 -->
	<select id="getAdjustStockAndSalesList" parameterType="int" resultType="StockAdjustmentDto">
		SELECT *
		  FROM (
		    SELECT
		      sa.adjustmentId AS adjustmentId,
		      sa.productId    AS productId,
		      sa.codeBId      AS codeBId,
		      sa.createdAt    AS createdAt,
		      sa.quantity     AS quantity,
		      sa.notes        AS notes
		    FROM STOCKADJUSTMENT sa
		    WHERE sa.productId = #{productId}
		
		    UNION ALL
		
		    SELECT
		      si.itemSalesId  AS adjustmentId,
		      si.productId    AS productId,
		      'SALES'         AS codeBId,
		      si.createdAt    AS createdAt,
		      si.quantity     AS quantity,
		      '상품 판매'      AS notes
		    FROM SALESITEM si
		    WHERE si.productId = #{productId}
		  ) t
		  ORDER BY t.createdAt DESC
	</select>

	<!-- 2-3. 현재 재고 현황 조회 -->
	<!-- 테이블별로 미리 SUM 해서 join -->
	<select id="getCurrentStockList" resultType="CurrentStockDto">
		SELECT
		      p.productId            AS productId, 
		      p.name                 AS productName,
		      NVL(pi.total_in,    0) AS totalInbound, 
		      NVL(sa.total_out,   0) AS totalOutbound, 
		      NVL(si.total_sales, 0) AS totalSales, 
		      NVL(pi.total_in,0) - NVL(sa.total_out,0) - NVL(si.total_sales,0) AS currentStock
		  FROM PRODUCT p
		  
		  LEFT JOIN (
		      SELECT productId, SUM(quantity) AS total_in
		      FROM PURCHASE
		      GROUP BY productId
		  ) pi ON pi.productId = p.productId
		  LEFT JOIN (
		      SELECT productId, SUM(quantity) AS total_out
		      FROM STOCKADJUSTMENT
		      GROUP BY productId
		  ) sa ON sa.productId = p.productId
		  LEFT JOIN (
		      SELECT productId, SUM(quantity) AS total_sales
		      FROM SALESITEM
		      GROUP BY productId
		  ) si ON si.productId = p.productId
		  ORDER BY p.name ASC
	</select>
	
	<!-- 3-1. 입고시 Purchase Table에 row 추가 -->
	<insert id="insertPurchase" parameterType="PurchaseDto">
    INSERT INTO Purchase (
        purchaseId,
        productId,
        codeBId,
        createdAt,
        quantity,
        notes
    ) VALUES (
        PURCHASE_SEQ.NEXTVAL,
        #{productId},
        #{codeBId},
        SYSDATE,
        #{quantity},
        #{notes}
    )
	</insert>
	
	<!-- 3-2. 출고시 StockAdjustment Table에 row 추가 -->
	<insert id="insertStockAdjustment" parameterType="StockAdjustmentDto">
    INSERT INTO StockAdjustment (
        adjustmentId,
        productId,
        codeBId,
        createdAt,
        quantity,
        notes
    ) VALUES (
        STOCK_ADJUSTMENT_SEQ.NEXTVAL,
        #{productId},
        #{codeBId},
        SYSDATE,
        #{quantity},
        #{notes}
    )
	</insert>
	
	

</mapper>
